name: Build

on:
  workflow_dispatch:

  schedule:
    - cron: '0 2 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger a deploy
        run: curl -X POST "${{ secrets.VERCEL_DEPLOY_HOOK }}"